<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="offset-md 4 col-md-4 offset-md-4">
                <h2>Login</h2>
                <form action="" method=POST>
                        {{formulario.csrf_token}}
                        <div class="form-group">
                            <label> Usuário: </label>{{formulario.username(class="form-control")}}
                        </div>
                        <div class="form-group">
                                <label> Senha: </label>{{formulario.password(class="form-control")}}
                        </div> 

                        <button class="btn btn-default" type="submit">Login</button>
                </form>
            </div>

        </div>

    </div>




</body>
</html>