{% extends "base.html" %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="offser-3 col-md-6 offset-3 jumbotron">
                <table class="table  ">
                        <thead class="thead-dark ">
                            <tr>
                                <th width='50%'>Equipamento:</th>
                                <th width='25%'>Usuário:</th>
                                <th width='25%'></th>
                            </tr>
                        </thead>
                {% for equipamento in equipamentos %}
                    {% if equipamento.status==False %}    
                        <tr>
                            <td width='50%'>{{equipamento.name}}</td>
                            <td width='25%'> Usuário</td>
                            <td width='25%'><a href="/retirar/{{equipamento.id}}">RETIRAR</a></td>                                
                        </tr>
                    {% endif %}
                {% endfor %}





            </table>        
        </div>        
    </div> 
</div>


{% endblock %}